<template name="viewComment">
  {{#if text}}
  <div class="nonvoted post comment" data-id="{{id}}">
    <div class="media">
      {{#if currentUser}}
        <div href="#" class="pull-left">
          {{>vote}}
        </div>
      {{/if}}
      <div class="media-body">
        <p class="author caption"><a href="https://news.ycombinator.com/user?id={{author}}">{{author}}</a></p>
        <p class="commentText">{{{cleanText}}}</p>
      </div>
    </div>
  </div>
  {{/if}}
  {{#each children}}
    <div class="indent">
      {{>viewComment}}
    </div>
  {{/each}}
</template>
