<head>
  <title>Fraction</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
</head>

<template name="layout">
  <div class="layout">
    {{>sidebar}}
    <div class="col-sm-10 col-sm-offset-2">
      <h3 class="currentView">{{currentView}}</h3>
      <div class="content">
        {{>yield}}
      </div>
      {{>footer}}
    </div>
  </div>
</template>
