// Makes .main extend to the bottom of the screen
html, body, .container, .main {
  min-height: 100%;
}
html {
  font-size: 15px;

  body {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
  }
}



a {
  color: #399EE3;
  &:visited {
    color: #399EE3;
  }

  &:hover, &:active {
    color: #4E86FE;
    text-decoration: none;
  }
}

.push-both {
  margin-left: auto;
  margin-right: auto;
}
