.post {
  padding: 22.5px;
  background-color: white;
  margin-bottom: 1px;
  border-left: 3px solid #F9FAFB;
  border-right: 3px solid #F9FAFB;

  &.upvoted {
    border-color: #4E86FE;
    .upvote {
      color: #4E86FE;
    }
  }

  &.downvoted {
    border-color: #FC6748;
    .downvote {
      color: #FC6748;
    }
  }

  .title {
    display: inline-block;
    margin-top: 3px;
    font-size: 1.5rem;
    color: #303540;
  }

  .caption {
    margin-top: 3px;
    color: #DDE0E6;
  }
}
