<template name="post">
  <div class="entry col-md-4 col-md-offset-4">
      <div class="email-option">
        <h3>Post</h3>
      </div>
      <form class="entry-form">
        <div class="form-group">
          <input autofocus="" name="title" type="text" class="form-control" value="" placeholder="Title">
        </div>
        <div class="form-group">
          <input name="url" type="url" class="form-control" value="" placeholder="URL">
        </div>
        <button type="submit" class="submit btn btn-block btn-default">Post</button>
      </form>
  </div>
</template>
