<template name="post">
  <div class="{{previousVote}} post" data-id="{{_id}}">
    <div class="media">
      {{#if currentUser}}
      <div href="#" class="pull-left">
        {{>vote}}
      </div>
      {{/if}}
      <div class="media-body">
        <a href="{{url}}" class="title" target="_blank">{{title}}</a>
        <p class="caption">Posted 3 weeks ago by <a href="/user/{{username}}">{{username}}</a></p>
      </div>
    </div>
  </div>
</template>

<template name="upvoted">
  nonvoted
</template>
