.sort {
  width: 100%;
  background-color: white;
  position: fixed;
  height: 4rem;

  .currentView {
    display: inline-block;
    margin-top: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    border-bottom: 1px solid hsl(210, 20%, 98%);
    color: hsl(210, 16%, 73%);
    font-weight: 300;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
  }

  .currentView .dropdown {
    display: inline-block;
    cursor: pointer;
  }
  display: inline-block;
}
