<template name="viewComment">
  {{#if text}}
  <div class="nonvoted post viewComment" data-id="{{id}}">
    <div class="media">
      {{#if currentUser}}
        <!--
          <div href="#" class="pull-left">
            {{>setVote}}
          </div>
        -->
      {{/if}}
      <div class="media-body">
        <p class="caption">
          <a href="/user/{{author}}">
            <i class="fa fa-user"></i> {{author}}
          </a>
           &nbsp;
          <abbr title="{{created_at}}"><i class="fa fa-clock-o"></i> <time datetime="{{createdAt}}">{{timeCopy}}</time></abbr>
        </p>
        <p class="commentText">{{{cleanText}}}</p>
      </div>
    </div>
  </div>
  {{else}}
    <!-- todo: handle deleted comments -->
  {{/if}}
  {{#each children}}
    <div class="indent">
      {{>viewComment}}
    </div>
  {{/each}}
</template>
