<template name="feed">
  {{#each posts}}
    <div class="post-block" data-post="{{id}}">
      <a class="post-link" href="{{uri}}">{{title}} <span class="faded">({{domain}})</span></a>
      <div class="post-info">
        <a class="upvote"   data-post="{{id}}" href="/like/{{id}}">Like</a>
        •
        <a class="downvote" data-post="{{id}}" href="/dislike/{{id}}">Dislike</a>
        •
        <a class="comments" href="{{commentLink}}">{{comments}}</a>
        •
        <a class="author"   href="/user/{{author}}">{{author}}</a>
      </div>
    </div>
  {{/each}}
</template>
