.post-block {
  border-bottom: 2px solid #F9FAFB;
  font-size: 1.5rem;
  padding: 2rem;
  background-color: white;
  // incredibly subtle faded highlight
  -webkit-box-shadow: inset 0 0 3rem 0 #fefefe;
  -moz-box-shadow:    inset 0 0 3rem 0 #fefefe;
  box-shadow:         inset 0 0 3rem 0 #fefefe;
}

.post-link {
  display: block;
  color: hsl(205, 15%, 30%);
  &:visited, &:visited:hover {
    color: #DAE0E5;
  }
  &:hover {
    color: hsl(205, 15%, 30%);
  }
}

.post-info {
  color: #aaa;
  font-size: 1.1rem;
  margin-top: .5rem;
  a {
    color: #A1C5E5;
  }
  .upvoted {
    color: #007FFF;
  }
  .downvoted {
    color: #FF5100;
  }
}

.post-stars {
  font-size: 1.2rem;
  margin-right: 0.25rem;

}

@media only screen and (max-width: 767px) {
  .post-info {
    margin-top: 1rem;
  }
  .stars {
    font-size: 1.2rem;
  }
}
