<template name="post">
  <div class="{{previousVote}} post" data-id="{{_id}}">
    <div class="media">
      {{#if currentUser}}
      <div href="#" class="pull-left">
        {{>vote}}
      </div>
      {{/if}}
      <div class="media-body">
        <a href="{{url}}" class="title" target="_blank">{{title}}</a>
        <p class="caption">{{totalPoints}} points by <a href="https://news.ycombinator.com/user?id={{author}}">{{author}}</a> {{timeCopy}} ago with <a href="https://news.ycombinator.com/item?id={{oldId}}">{{oldComments}} comments</a></p>
      </div>
    </div>
  </div>
</template>

<template name="upvoted">
  nonvoted
</template>
