<template name="viewPost">
  <div class="{{previousVote}} post" data-id="{{_id}}">
    <div class="media">
      {{#if currentUser}}
      <div href="#" class="pull-left">
        {{>vote}}
      </div>
      {{/if}}
      <div class="media-body">
        <a href="{{url}}" class="title" target="_blank">{{title}}</a>
        <p class="caption">
          <i class="fa fa-chevron-up"></i> {{totalPoints}} &nbsp;
          <a href="{{commentLink}}">
            <i class="fa fa-comment"></i> {{oldComments}}</a> &nbsp;
            <a href="{{authorLink}}"><i class="fa fa-user"></i> {{author}}</a>  &nbsp;
            <abbr title="{{createdAt}}"><i class="fa fa-clock-o"></i> <time datetime="{{createdAt}}">{{timeCopy}}</time></abbr>
        </p>
      </div>
    </div>
    {{{text}}}
  </div>
  <div class="listComments">
    {{#each oldChildren}}
      {{>viewComment}}
    {{/each}}
  </div>
</template>
