.header {
  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.title {
  margin: 0;
  font-weight: bold;
  color: black;
  padding: 3rem;
  float: left;
}

.post-btn {
  margin-top: 28px;
  margin-right: 30px;
  float: right;
}
