@import "/client/lib/variables.import.less";

.header {
  nav {
    border-radius: 0;
    margin-bottom: 0;
  }

  .logo img {
    margin-top: 11px;
    margin-bottom: 11px;
    @media @xs {
      margin-left: 15px;
    }
    height: 26px;
  }

  .navbar > ul > li > a {
    color: #F9FAFB;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: hsla(0, 0%, 100%, 0.9);
    &:hover {
      color: white;
    }
  }

  ul > li.highlight > a {
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #93CB2A;
    &:hover, &:active {
      background-color: #8DCC16;
    }
  }

  .breadcrumb {
    margin-top: 0.25rem;
    display: inline-block;
    background: none;
    padding-left: .25rem;
    margin-bottom: 0;
    margin-left: 0.4rem;
    a {
      color: white;
    }
  }

  // todo: remove magic numbers
  .current-view {
    color: hsla(0, 100%, 100%, 0.75);
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: hsl(0, 100%, 100%);
    background-color: #373737;
  }


}
