.header {

  nav {
    border-radius: 0;
    background-color: #303540;
    margin-bottom: 0;
  }

  .navbar-brand {
    color: #F9FAFB;
    font-weight: bold;
  }

  .navbar ul > li > a {
    color: #F9FAFB;
  }

  .navbar-toggle {
    background-color: #303540;
    border: 0;
    &:hover, &:active, &:focus {
      background-color: #303540;
    }
  }

  // todo: remove magic numbers
  .current-view {
    position: absolute;
    height: 50px;
    width: 200px;
    margin-left: -100px;
    top: 1rem;
    font-size: 1.2rem;
    left: 50%;
    color: #DDE0E6;
    text-align: center;
    overflow: hidden;
  }
}
