<template name="header">
  <div class="header">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">F<span class="hidden-xs">raction</span></a>
          <div class="current-view">{{currentView}}</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav navbar-right">
              {{#if currentUser}}
                <li><a href="/new-post">Post</a></li>
                {{#if isFeed}}
                  <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Sort<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      {{#if sortPopular}}
                        <li class="active"><a href="/">Popular</a></li>
                      {{else}}
                        <li><a href="/">Popular</a></li>
                      {{/if}}
                      {{#if sortRecent}}
                        <li class="active"><a href="/recent">Recent</a></li>
                      {{else}}
                        <li><a href="/recent">Recent</a></li>
                      {{/if}}
                      {{#if sortRandom}}
                        <li class="active"><a href="/random">Random</a></li>
                      {{else}}
                        <li><a href="/random">Random</a></li>
                      {{/if}}
                    </ul>
                  </li>
                {{/if}}
                  <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.username}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/user/{{currentUser.username}}">Profile</a></li>
                      <li><a href="/sign-out">Sign Out</a></li>
                    </ul>
                  </li>
                  {{else}}
                  <li><a href="/sign-in">Sign In</a></li>
                  <li><a href="/sign-in">Sign Up</a></li>
              {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
