<template name="header">
  <div class="header">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">F<span class="hidden-xs">raction</span></a>
          <div class="current-view">{{currentView}}</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav navbar-right">
              {{#if isFeed}}
                {{#if currentUser}}
                <li class="dropdown">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown">Sort Recent<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/random">Sort Random</a></li>
                  </ul>
                </li>
                {{/if}}
              {{/if}}
            {{#each links}}
              <li><a href="/{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
