// Makes .main extend to the bottom of the screen
html, body, .container, .main {
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAEDF1;
}

.faded {
  opacity: 0.5;
}

.main {
  padding: 0;
  background-color: white;
}

.content {
  padding: 2rem 3rem 1rem 3rem;
}
