<head>
  <title>Fraction</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
  {{yield}}
</body>

<template name="index">
  <div class="container">
    <div class="main col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      {{>header}}
      <div class="content">
      {{yield}}
      {{>footer}}
      </div>
    </div>
  </div>
</template>
