.fa-star-o {
  color: #B2CCFF;
  cursor: pointer;
}

.fa-star {
  cursor: pointer;
  &.star-1 {
    color: #99BBFF;
  }
  &.star-2 {
    color: #7FAAFF;
  }
  &.star-3 {
    color: #6699FF;
  }
  &.star-4 {
    color: #4C88FF;
  }
  &.star-5 {
    color: #3377FF;
  }
}
